<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href=" {% url 'library:home' %} ">Home</a>
      {% if request.user.is_authenticated %}
        <a class="navbar-brand" aria-current="page" href="{% url 'library:user' request.user.id %}">{{request.user.full_name}}'s Profile</a>
      {% endif %}  
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="navbar-brand" aria-current="page" href="http://127.0.0.1:8000/admin">Admin-panel</a>
          </li>
        </ul>
      {% if not request.user.is_authenticated %}
        <a class="navbar-brand" href=" {% url 'account:user_register' %} ">Register</a>
        <a class="navbar-brand" href=" {% url 'account:User_Login' %} ">Login</a>
        <a class="navbar-brand" href=" {% url 'account:Login_API' %} ">Login api</a>
      {% endif %}
      {% if request.user.is_authenticated %}
        <a class="navbar-brand" href=" {% url 'account:User_Logout' %} ">Logout</a>
      {% endif %}
      <a class="navbar-brand" href=" {% url 'library:sub' %} ">Buy Membership</a>
      <form class="d-flex" role="search" method="GET" action="{% url 'library:search' %}">
        <input class="form-control me-2" type="search" placeholder="Book titles/description" aria-label="Search" name="search_input">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>      
      </div>
    </div>
  </nav>