<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title> {% block title %} Tafazzolian {% endblock %} </title>

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <style>
        .jumbotron{
            padding: 20px;
            margin-bottom: 20px;
            background-color: azure;
        }
    </style>

</head>
<body>

{% include 'include/navbar.html' %}
{% include 'include/msg.html' %}

<div class="jumbotron">

    {% block content %} <H1> Tank book-library </H1>
    <form method="GET" action="{% url 'library:home' %}">
        <label for="min_price">Min-Price:</label>
        <input type="text" id="min_price" name="min_price" placeholder="Min Price">
      
        <label for="max_price">Max-Price:</label>
        <input type="text" id="max_price" name="max_price" placeholder="Max Price">
      
        <label for="genre_id">Genre:</label>
        <select name="genre_id">
          <option value="">All Genres</option>
          <option value="1">Science</option>
          <option value="2">Novel</option>
          <option value="5">Drama</option>
          <option value="3">History</option>
          <option value="4">Education</option>
        </select>

        <label for="born_city">Author's hometown:</label>
        <select name="born_city">
          <option value="">All Cities</option>
          <option value="Qom">Qom</option>
          <option value="Shiraz">Shiraz</option>
          <option value="Tehran">Tehran</option>
        </select>

        <label for="price">Sort by:</label>
        <select name="price">
          <option value="">Price</option>
          <option value="price">Low to high</option>
          <option value="-price">High to low</option>
        </select>
      
        <button type="submit">Filter</button>
      </form>
      
      
    <div class="card">
        <h3 class="card-title jumbotron">All books</h3>

        {% for i in books %}
        <a class="card-body" href="{% url 'library:borrow' i.id  %}" >{{i.title}}
           - Genre: {{i.genre}} - Copies available: {{i.copies_available}} - Price: {{i.price}}$</a>
       
        {% endfor %}
        {% endblock %}
        
</div>

</body>
</html>